.login {
  display: flex;
  flex-direction: column;

  h2 {
    align-self: center;
  }

  .login-container {
    align-self: center;
    width: 300px;
    display: flex;
    flex-direction: column;
  }
}

mat-error {
  padding-top: 1.34375em;
  margin: .25em 0;
}