mat-drawer-container {
  height: 100%;
}

.items-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.reddit-items {
  width: 100%;
  height: 100%;
  padding: 0 15%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;

  @media only screen and (max-width: 700px) {
    padding: 0 10px;
  }

  @media only screen and (max-width: 1000px) {
    padding: 0 10px;
  }
}

mat-form-field {
  margin-top: 16px;
  width: 100%;
}