<mat-drawer-container autosize>
  <mat-drawer opened="{{true}}" mode="side">
    <app-filter *ngIf="isShowingFilter"></app-filter>
  </mat-drawer>

  <div class="items-container">
    <div class="reddit-items">

      <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput class="search-input" [ngModel]="searchText" (ngModelChange)="onSearchChanged($event)"
          placeholder="search" />
        <button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="onSearchChanged('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-selection-list (selectionChange)="onSelectionChanged($event)">
        <app-saved-display-card *ngFor="let item of display" [item]="item" [isSelected]="selectedIds.includes(item.id)">
        </app-saved-display-card>
      </mat-selection-list>
    </div>

    <app-saved-display-footer [selectedIds]="selectedIds" [visibleSavedRedditItems]="display"
      (clearSelection)="clearSelectedItems()">
    </app-saved-display-footer>

  </div>
</mat-drawer-container>