.shell {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

mat-toolbar {
  flex: 0 0 auto;
}

.content {
  box-sizing: border-box;
  flex: 1 1 auto;
  overflow: hidden;
}

.user-info {
  display: contents;
}

button {
  margin-left: 16px;
}

@media only screen and (max-width: 700px) {
  .shell {
    .content {
      width: 100%;
      margin-left: 0px;
    }
  }
}

.refresh-icon {
  flex: 1 1 auto;
  text-align: center;
  margin-top: 30px;

  :first-child:hover {
    cursor: pointer;
  }

  @media only screen and (max-width: 700px) {
    margin-top: 20px;
  }
}