<!--The content below is only a placeholder and can be replaced.-->
<div class="shell">
  <mat-toolbar color="primary">
    Reddit Saved
    <span class="example-spacer"></span>
    <div *ngIf="loggedInUserName" class="user-info">
      {{ loggedInUserName }}
      <button mat-icon-button (click)="logout()" aria-label="Logout">
        <mat-icon aria-hidden="true">logout</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <div class="content">
    <app-login *ngIf="isLoggedOut" (onLoggedIn)="onLoggedIn()" (isLoggingIn)="processLoggingIn()"></app-login>
    <app-saved-display *ngIf="loggedInUserName" [isShowingFilter]="isShowingFilter"></app-saved-display>
  </div>
</div>